<div class = "container">
	<form action="/results" method="POST">

	<div class = "row">
		<div class = "col-md-12">
			<center>
				<h1 class ="extra_large">Where Should I live?</h1>
					<h3>Not sure if you're east coast or west coast?  Take this quiz and find out your best fit</h3>

					<h2>Be honest.</h2>
			</center>
		</div>
	</div>

	<div class = "row">
		<div class = "col-md-6">
			<img src="images/biggie.jpg" alt="biggie" width="350" />
				<br />
					<center>
						<input type="radio" id="lifestyle" name="music[0]" value="true">Yes</input>
					</center>	

		</div>

		<div class = "col-md-6">
			<img src="images/tupac.png" alt="tupac" width="350" />
				<br />
					<center>
						<input type="radio" id="lifestyle" name="music[1]" value="false">Yes</input>
					</center>
		</div>

		<div class = "row">
			<div class = "col-md-12">
				<center>
					<button class = "space" type="submit" value="next">NEXT</button>
				</center>
			</div>
		</div>

	</div>

</div><!--this closes the container -->