<div class = "container">


		<div class = "row">
		<div class = "col-md-12">
			<center>
				<h1 class ="extra_large">Where should you live?</h1>
					<h3 class = "underline">Here is where you should live. </h3>
			</center>
		</div>
	</div>

	<div class = "row">
		<div class = "col-md-12">
			<center>
			<h1>Our research indicates you're hella West Coast.</h1>
		</center>
		</div>

			<center>
				<img src="images/tupac.png" alt="tupac" width="350" />
				<p class = "results" >The left coast-  home to stunning natural beauty, the film industry and relatively temperate climates.  You're laid back sunny disposition makes you the perfect fit anywhere between the San Juans to San Diego.  High five brah.</p>
			</center>
		</div>	
	</div>	

</div><!--this closes the container